<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'authentication/header.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/homepage.css' %}">
</head>
<body>
    <header>
        <a href="/dashboard" class="header">
            <p>Exercere</p>
            <img src="{% static 'authentication/pfp.png' %}" alt="Profile">
        </a>
    </header>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{ registerform.as_p }}
            <button type="submit">Register</button>
        </form>
    </body>
</body>
</html>
